@use '../../abstracts/' as *;
@use '../../base/' as *;

.about-main {
  > * {
    padding-inline: $mobile-padding-inline;
    text-align: center;
  }

  h1 {
    font-size: rem(32);
    line-height: rem(36);
    letter-spacing: rem(-0.25);
    font-weight: normal;
    padding-block: rem(48) rem(40);
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: rem(48);
    padding-bottom: rem(76);

    &__title {
      padding-bottom: rem(16);
    }
  }

  .team {
    padding-inline: 0;
    padding-block: rem(48);

    &__stats {
      // padding-inline: ;
      margin-block: rem(48);
      margin-inline: $mobile-padding-inline;
      padding-block: rem(16);
      display: flex;
      flex-direction: column;
      gap: rem(32);
      border-top: rem(1) solid lighten($san-juan-blue, 40%);
      border-bottom: rem(1) solid lighten($san-juan-blue, 40%);

      h3 {
        font-family: 'Public Sans', sans-serif;

        font-weight: normal;
        font-size: rem(16);
        line-height: rem(28);
        color: $san-juan-blue-light;
      }

      p {
        color: $dark-pink;
        font-size: rem(56);
        line-height: rem(72);
        letter-spacing: rem(-0.43);
        font-family: 'DM Serif Display', serif;
        font-weight: normal;
      }
    }
  }
}

@media screen and (min-width: rem(700)) {
  .about-main {
    > * {
      padding-inline: $tablet-padding-inline;
      text-align: left;
    }

    h1 {
      font-size: rem(48);
      line-height: rem(56);
      letter-spacing: rem(-0.37);
      text-align: center;
    }

    .about {
      > * {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 20% 80%;
        gap: 0;
      }
    }

    .team {
      padding-inline: 0;
      padding-block: rem(48);

      &__stats {
        margin-block: rem(64);
        margin-inline: $tablet-padding-inline;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: none;
      }

      &__card {
        padding: rem(16);
        border-top: rem(1) solid lighten($san-juan-blue, 40%);
        border-bottom: rem(1) solid lighten($san-juan-blue, 40%);
      }
    }
  }
}
@media screen and (min-width: rem(1024)) {
  .about-main {
    > * {
      padding-inline: $desktop-padding-inline;
    }

    h1 {
      font-size: rem(56);
      letter-spacing: rem(-0.43);
      text-align: left;
      padding-block: rem(82) rem(51);
      padding-inline: rem(260);
    }

    .about {
      padding-inline: rem(260);
    }

    .team {
      padding-inline: 0;
      padding-block: rem(48);

      &__stats {
        margin-block: rem(72);
        margin-inline: $desktop-padding-inline;
      }
    }
  }
}
