@use '../abstracts/functions' as *;

// Colors
$dark-pink: #ba4270;
$water-white: #fbfcfe;
$san-juan-blue: #36536b;
$mirage-blue: #1b262f;
$charm-pink: #da6d97;
$san-juan-blue-light: #6c8294;

//Sizes
$mobile-padding-inline: rem(25);
$tablet-padding-inline: rem(39.17);
$desktop-padding-inline: rem(165);
