@use '../../base/' as *;
@use '../../abstracts/' as *;

.simple-ui {
  padding-inline: $mobile-padding-inline;
  text-align: center;

  &__title {
    font-size: rem(32);
    line-height: rem(36);
    letter-spacing: rem(-0.25);
    padding-bottom: rem(24);
  }

  img {
    max-width: rem(555);
  }
}

@media screen and (min-width: rem(700)) {
  .simple-ui {
    padding-inline: $tablet-padding-inline;
    &__title {
      font-size: rem(48);
      line-height: rem(56);
      letter-spacing: rem(-0.37);
    }
  }
}
@media screen and (min-width: rem(1024)) {
  .simple-ui {
    padding-inline: $desktop-padding-inline;
    // padding-inline: $desktop-padding-inline;
    // padding-block: rem(150);
    text-align: left;

    display: flex;
    align-items: center;
    gap: rem(100);

    &__content {
      margin-top: rem(-20);
      order: 1;
    }

    &__illustration {
      order: 2;
    }
    &__description {
      line-height: rem(28);
      // width: rem(450);
    }

    // img {
    //   width: rem(445);
    //   margin-right: 0;
    // }
    // }
  }
}
