@use '../base/typography' as *;
@use '../abstracts/' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: rem(15);
  line-height: rem(28);
  font-family: 'Public Sans', sans-serif;
  background-color: #edf3f8;
  background-image: url('../../assets/shared/desktop/bg-pattern-circle.svg');
  background-repeat: no-repeat;
  background-position: top rem(-400) center;

  @media screen and (min-width: rem(700)) and (max-width: rem(1023)) {
    background-size: rem(1000);
    background-position: top rem(-500) center;
  }

  @media screen and (min-width: rem(1024)) {
    background-position: top rem(-200) right rem(-150);
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
input::placeholder {
  font-size: inherit;
  font-family: inherit;
}

img {
  width: 100%;
  // text-align: center;
}
